/* Laptop XXL */

/* Main Content */
.contactUsMainContainer{
    /* border: 2px solid red;    */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    margin-bottom: 3%;
    margin-top: 2%;
}

.contactUsContentContainer{
    /* border: 1px solid blue; */
    width: 95%;
    margin: 0 auto;
    background-image: url("https://i.ibb.co/mvqny7M/Feedback-minimalist.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2%;
    box-shadow: 1px 1px 5px grey;
}

.formInputField{
    width: 100%;
    padding: 20% 15% 0% 15%;
}

.formInputField input{
    width: 100%;
    border: none;
    background: white;
    border-radius: 6px;
    padding: 10px 10px;
    box-shadow: 0px 1px 3px gray;
    margin: 5px 0px;
}
.formInputField textarea{
    width: 100%;
    border: none;
    background: white;
    border-radius: 12px;
    padding: 10px 10px;
    box-shadow: 0px 1px 3px gray;
    margin: 5px 0px;
}
.formFooter{
    display: grid;
    grid-template-columns: 30% 70%;
}
.formFooterIcons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.formFooterIcons img{
    width: 100%;
}
.sendBtnContainer{
    text-align: right;
    margin: 0;
    padding: 0;
}
.sendBtn{
    background: #0556F3;
    color: white;
    padding: 3% 13%;
    border: none;
    font-size: 1vw;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;    
}

.contactUsImageContainer{
    /* border: 1px solid green; */
    width: 80%;
    margin: 0 auto;
}

/* tab */
@media (max-width: 780px) {
    .formFooter{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

/* Phone responsive */

@media (max-width: 680px){
    .contactUsMainContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .contactUsImageContainer{
        display: none;
    }
    .formFooter{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .sendBtn{
        background: #0556F3;
        color: white;
        padding: 3% 13%;
        border: none;
        font-size: 3vw;
        border-radius: 20px;
        font-family: 'Lato', sans-serif;    
    }
}    

