@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Laptop */

.mainHeaderBody{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 0px;
}
.mainHeading h1{
    font-family: 'Karma', serif;
    font-weight: bold;
    font-size: 54px;
    font-weight: 700;
    padding: 46px 0 0 0;
}
.mainHeading h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
}
.mainHeadingImagesMobile{
    display: none;
}
.mainHeadingContent{
    font-family: 'Inter', sans-serif;
    padding: 40px 0px 36px 0;
}
.mainHeadingImage img{
    padding: 60px 0 0 0;
    width : 100%;
}
.mainHeadingBtn{
    background-color: #2C6EEF;
    border: none;
    padding: 20px 70px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

/* Tab Pro */

@media (max-width: 780px) {

    .mainHeaderBody{
        grid-template-columns: repeat(1,1fr);
    }
    .mainHeading h1{
        font-family: 'lato', serif;
        font-weight: 700;
        text-align: center;
        padding: 40px 0;
    }
    .mainHeading h2{
        display: none;
    }
    .mainHeadingImagesMobile{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .mainHeadingContent{
        font-family: 'Inter', sans-serif;
        padding: 0px 0px 36px 0;
        margin-left: 5%;
    }
    .mainHeadingBtnDiv{
        text-align: center;
    }
    .mainHeadingImage{
        display: none;
    }
}


/* Phone */

@media (max-width: 680px){
    .sec-photos{
        grid-template-columns: repeat(2,1fr);
    }
    .mainHeading h1{
        font-family: 'Karma', serif;
        font-weight: bold;
        font-size: 160%;
        padding: 26px 0;
        text-align: center;
        margin: 0;
    }
    .mainHeading h2{
        display: none;
    }
    .mainHeadingImagesMobile{
        display: none;
    }
    .mainHeadingContent{
        font-size: 9px;
        font-family: inter;
        font-weight: 700;
    }
    .mainHeadingBtnDiv button{
        background-color: #2C6EEF;
        border: none;
        padding: 12px 50px;
        color: white;
        font-size: 10px;
        border-radius: 8px;
        margin-bottom: 30px;
    }
}

