@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
.featureCardFullContainer{
    margin: 10px 1.93%;
}
.featureCardContainer{
    background-color: #E9EAFF;
    border-radius: 0.5em;
}
.featureCard{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-left: 10px;
    /* text-align: center; */
}
.featureCardFullContent{
    margin: auto 7.1%;
    padding: 0;
    /* margin-left: 60px */
}
.featureCardPro{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px; 
    /* text-align: center; */
}
.featureCardContentHeading{
    /* padding: 50px 40px 20px 40px; */
    font-weight: 900;
    font-size: 60px;
    font-family: 'Karma', serif;
}
.featureCardContentParagraph{
    padding: 0 0;
    text-align: justify;
}
.featureCardImages{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 75%;

}

@media (max-width: 780px) {
    .featureCard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .featureCardPro{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .featureCardImages{
        display: none;
    }
}






