/* Laptop Design Big Screen */


/* Community Image and Content and Btn Style */
.communityMainContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
.communityImageContainer img{
    width: 90%;
    text-align: right;
}
.communityContentContainer{
    padding: 7% 14%;
}

.communityContentContainer h3{
    margin: 0;
    font-family: Lato;
    padding: 5% 10%;
    font-weight: bold;
}

.comingSoonBtn button {
    border: none;
    padding: 3% 9%;
    border-radius: 10px;
    background-color: #2C6EEF;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 40px 0;
}

/* Tab  */

@media (max-width: 780px) {
        /* Responsive main Container */
    
        .communityMainContainer{
            grid-template-columns: repeat(1, 1fr);
        }
        .communityContainer{
            width: 40%;
            display: grid;
            grid-template-columns: 80% 20%;
            margin: 50px 0;
        }
}

/* Phone Responsive Site */


@media (max-width: 680px){
    /* Responsive main Container */
    
}



