@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;900&display=swap');
/* Laptop */
.head1{
  /* font-family: var(--fontFamily-nunito); */
  font-family: 'Nunito', sans-serif;
  font-size:27px;
}

.modal {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  padding: 6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color:#E0EAF4;
  border-radius:20px;
  position:fixed;
  height: 300px;
}

.modal2{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  padding: 6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color:#E0EAF4;
  border-radius:20px;
  position:fixed;
  height: 300px;
}
/* popup animation */



.modal{
  /* top:0px; */
  animation: drop 0.5s ease forwards;
}
@keyframes drop {
  0%{opacity: 0}
  30%{ transform: translateY(10%)}
  50%{ transform: transformY(20%); opacity:1;}

}

.modalentrydiv{
  align-text : center;
  display : flex;
  position : absolute;
  bottom : 40px;
  align-items: center;
}

.modalforminput{
  border-radius:20px;
  border:0.2px solid #8A7B7B;
  box-shadow: 0px 1px 2px 0px #00000040;
  width:340px;
  margin-right:20px;
}
.modalsubscribe{
  background-color:#2E77AE;
  border-radius:10px;
  padding:10px 15px;
  border:none;
  color:white;
  font-size:16px;
  height: 45px;
  cursor:pointer;
  width:120px;
  margin-left:5px;
  margin-right: 5%;
}
.modaltext{
  height:100px;
  position:absolute;
  bottom:150px;
  width:70%;
  right:5%;
}
.modaltext > p{
  font-size:18px;
}
#modalimg1{
  width:230px;height:180px;position:relative;margin-left:-150px;bottom:150px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  position: fixed;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  position: fixed;
}
.modalentrydiv > input{
    padding: 9px;
    padding-left: 45px;
    width: 100%;
    border: none;
    border-radius: 12px;
    margin: 5px;
    height: 45px;
}

.modalmailimage{
  width:47px;height:47px;margin-right:-33px;border-radius:50%;z-index:100;
}

.success{
  margin-top: 20px;
  position:absolute;
  bottom:14px;
  display:inline-block;
}
.success >p{
  font-size:22px;margin-top:5px;
}
.hidden {
  display: none;
}

@media (max-width: 1200px){
.modal{
  width:75%;
}
#modalimg1{
  width:200px;
  height:150px;
}
.modalentrydiv{
/* left:30px; */
bottom:10px;
}
}

@media (max-width:750px){
.modalsubscribe{
  /* position: absolute;
  top:70px;
  left:30%; */
}
.modalentrydiv{
left:30px;
bottom:10px;
}
.modal{
  height:55%;
}
.modaltext{
  top:50px;
}
#modalimg1{
  width:200px;
  height:150px;
}
}
.modalentrydiv > input{
  width:300px;
}

@media (max-width:650px){
  .modal{
    height:60%;
  }
  .modalentrydiv{
  left:30px;
  bottom:60px;
  }
  .modalsubscribe{
    position: absolute;
    top:65px;
    left:30%;
  }
  .modaltext{
    top:45px;
  }
  #modalimg1{
    width:200px;
    height:150px;
  }
  .modalentrydiv > input{
    width:90%;
  }
  #modalimg1{
    display:none;
  }
  .modaltext{
    left:20%;
  }
}

.successimage{
  width:50px;height:50px;background-color:#E0EAF4;position:absolute;right:110%;
}
