/* ResourceQuestion and Resources Styles are there */
.questionHeading{
    background-color: #FF8E2B;
    padding: 12px 10px 1px 13px;
    border-radius: 10px;
    color: white;
}
.resourcesHeading{
    background-color: #2E77AE;
    padding: 12px 10px 1px 13px;
    border-radius: 10px;
    color: white;
}
.questionAndResourceContentArea{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.questionAndResourceContentLink a{
    color: black;
    font-weight: none;
}
.tipsAndCautionLink a{
    color: #007AFC;
    font-weight: none;
}
.tipsAndCautionLink a:hover{
    color: #007AFC;
    border-bottom: #007AFC 0.025em solid;
    font-weight: none;
    text-decoration: none;
}
.tipsAndCautionLink a:after{
    content: '';
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}


/* Tips and caution Style from Here */ 
/* Grid Layout */

.tipAndCaution{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10px auto;
}
.tipsColor{
    background-color: #62E135;
    border-radius: 10px;
}
.cautionsColor{
    background-color: #0D2237;
    border-radius: 10px;
}
.tipsAndCautionContent{
   padding: 10px 10px 0px 20px;
}

.tipsAndCautionContent h4 {
    font-size: 25px;
}





